<div class="container-fluid iconFooterTxt">
    <div class="row justify-content-between">

        <div class="d-none d-lg-block col-lg-4 col-xl-3 whiteTxt">
            <h3>Réseaux emploi</h3>
            <hr/>
            <div class="row justify-content-around">
                <a class="btn btn-light"
                   href="https://candidature.pole-emploi.fr/cv/#/1955233079/profils/WPS3SVAMD/"
                   target="_blank ">
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Cv sur pôle emploi">
                        <img class="empl" src="{{ asset('images/pole_emploi.png') }}" alt="Pôle emploi"/>
                    </button>
                </a>
                <a class="btn btn-light"
                   href="https://www.indeed.fr"
                   target="_blank ">
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Cv sur Indeed">
                        <img class="empl" src="{{ asset('images/indeed.png') }}" alt="Indeed"/>
                    </button>
                </a>
                <a class="btn btn-light"
                   href="https://www.manpower.fr"
                   target="_blank ">
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Cv sur Manpower">
                        <img class="empl" src="{{ asset('images/manpower.png') }}" alt="Manpower"/>
                    </button>
                </a>
            </div>
        </div>

        <div class=" col-8 col-sm-6 col-lg-5 col-xl-6  redTxt">
            <h3>Compétences détaillées et validées</h3>
            <hr class="redBarre"/>
            <div class=" row justify-content-around">
                <a href="{{ asset('/skills#devWeb')}}">
                    <button type="button" class="btn btn-info rounded-circle " data-toggle="tooltip"
                            data-placement="left" title="Développeur Web">
                        <i class="fas fa-code"></i>
                    </button>
                </a>
                <a href="{{ asset('/skills#uxDesi')}}">
                    <button type="button" class="btn btn-info rounded-circle" data-toggle="tooltip"
                            data-placement="bottom" title="UX Designer">
                        <i class="far fa-images"></i>
                    </button>
                </a>
                <a href="{{asset('/skills#resoSocio')}}">
                    <button type="button" class="btn btn-info rounded-circle" data-toggle="tooltip"
                            data-placement="top" title="Animateur réseaux sociaux">
                        <i class="fas fa-users"></i>
                    </button>
                </a>
                <a href="{{ asset('/skills#skillCMS')}}">
                    <button type="button" class="btn btn-info rounded-circle" data-toggle="tooltip"
                            data-placement="bottom" title="CMS">
                        <i class="fas fa-cogs"></i>
                    </button>
                </a>
                <a href="{{ asset('/skills#gestProj')}}">
                    <button type="button" class="btn btn-info rounded-circle" data-toggle="tooltip"
                            data-placement="top" title="Gestion projet">
                        <i class="fas fa-sitemap"></i>
                    </button>
                </a>
                <a href="{{ asset('/skills#logLibre')}}">
                    <button type="button" class="btn btn-info rounded-circle" data-toggle="tooltip"
                            data-placement="right" title="Logiciels libres">
                        <i class="fab fa-linux fa-lg"></i>
                    </button>
                </a>
            </div>
        </div>

        <div class=" col-4 col-sm-5 col-lg-3 col-xl-3 redTxt  ">
            <h3>Personnalité (prochainement)</h3>
            <hr class="redBarre"/>
            <div class=" row justify-content-around">
                <button type="button" class="btn btn-success rounded" data-toggle="tooltip"
                        data-placement="left"
                        title="Au travail">
                    <i class="fas fa-puzzle-piece"></i>
                </button>
                <button type="button" class="btn btn-success rounded" data-toggle="tooltip" data-placement="top"
                        title="Culture et Lecture">
                    <i class="fas fa-book"></i>
                </button>
                <button type="button" class="btn btn-success rounded" data-toggle="tooltip"
                        data-placement="right"
                        title="Loisirs Sport Divertissements">
                    <i class="fab fa-itunes-note"></i>
                </button>
            </div>
        </div>
    </div>
</div>
</br>
<footer class="row">
    <div class="col-10 date">
        Siegfried-Chapotin ©
    </div>
    <div class="col-2">
        <a href="#topPage">
            <button type="button" class="btn btn-info rounded" data-toggle="tooltip"
                    data-placement="right"
                    title="haut">
                <i class="fa fa-arrow-circle-up"></i>
            </button>
        </a>
    </div>
</footer>

