<tr class="table-foot">
    <th class="btnTable" colspan="3">
        <div>
            <a href="{{ asset('/skills#devWeb')}}">
                <button type="button" class="btn btn-info rounded-circle " data-toggle="tooltip"
                        data-placement="left" title="Développeur Web">
                    <i class="fas fa-code fa-lg"></i>
                </button>
            </a>
            <a href="{{ asset('/skills#uxDesi')}}">
                <button type="button" class="btn btn-info rounded-circle" data-toggle="tooltip"
                        data-placement="bottom" title="UX Designer">
                    <i class="far fa-images fa-lg"></i>
                </button>
            </a>
            <a href="{{asset('/skills#resoSocio')}}">
                <button type="button" class="btn btn-info rounded-circle" data-toggle="tooltip"
                        data-placement="top" title="Animateur réseaux sociaux">
                    <i class="fas fa-users fa-lg"></i>
                </button>
            </a>
            <a href="{{ asset('/skills#skillCMS')}}">
                <button type="button" class="btn btn-info rounded-circle" data-toggle="tooltip"
                        data-placement="bottom" title="CMS">
                    <i class="fas fa-cogs fa-lg"></i>
                </button>
            </a>
            <a href="{{ asset('/skills#gestProj')}}">
                <button type="button" class="btn btn-info rounded-circle" data-toggle="tooltip"
                        data-placement="top" title="Gestion projet">
                    <i class="fas fa-sitemap fa-lg"></i>
                </button>
            </a>
            <a href="{{ asset('/skills#logLibre')}}">
                <button type="button" class="btn btn-info rounded-circle" data-toggle="tooltip"
                        data-placement="right" title="Logiciels libres">
                    <i class="fab fa-linux fa-2x"></i>
                </button>
            </a>
        </div>
    </th>
    <th>
        <a class="btn btn-danger" href="{{ path('curriculumvitae')}}" data-toggle="tooltip"
           data-placement="top" title="CV général">
            <span class="hiddenTfoot">Retour CV Général</span><i class="fas fa-reply hiddenArrow" data-fa-transform="flip-v"></i>
        </a>
    </th>
</tr>